
   //直接全域
  .allocatetion_form {
        max-width: 1150px;   
        max-height: 1100px;
        width: 108%;
        height: 90%;
  }

 .titlerange {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 15px;
 }

.radio-container {
    display: flex; /* 使用flex布局 */
    border: 1px solid #ccc; /* 可視化容器邊框 */
    padding: 10px 20px; /* 容器內部間距 */
    background-color: #d6d2bb; /* 背景色，非必要 */
    gap: 20px; /* 標籤間距 */
    flex-wrap: wrap; /* 允許標籤換行 */
    align-items: center; /* 對齊文字與按鈕 */
  }

  .radio-item {
    display: grid; /* 1標籤為行內塊，允許設置寬高 */
    width: 35%; /* 根據比例分配寬度，總和不要超過100% */
    text-align: center; /* 文字置中對齊 */
    flex-direction: column; /* 讓文字和按鈕成為一個整體 */
    align-items: center; /* 對齊文字與按鈕 */
    margin: 5px; /* 標籤間距 */
    background-color: #e0f7fa; /* 背景色，用於分隔 */
    border: 3px solid #031815; /* 邊框顏色 */
    box-sizing: border-box; /* 包含內邊距和邊框在寬度內 */
    transform: translate(30%, 5%);
    font-size: 20px;
    cursor: pointer; /* 鼠標指標樣式 */
  }

  .radio-container label {
    display: inline-block; /* 包住內容並維持其為行內塊 */
    border: 1px solid #d02b2b; /* 可視化容器邊框 */
    padding: 1px; /* 容器內部間距 */
    background-color: #d4d4bd; /* 背景色，非必要 */
    display: flex; /* 讓文字和按鈕成為一個整體 */
    align-items: center; /* 對齊文字與按鈕 */
  }

  .radio-container input[type="radio"]:checked {
    background-color: #007bff; /* 選中時背景色 */
    border-color: #0056b3; /* 選中時邊框色 */
    transform: scale(2); /* 放大到 2 倍 */
    margin: 3px; /* 增加間距，避免擠在一起 */
  }

  /* 增加選中狀態的內部點 */
  .radio-container input[type="radio"]:checked ::after {
    content: "";
    position: relative;
    top: 90%;
    left: 50%;
    width: 32px; /* 點的大小 */
    height: 12px;
    border-radius: 50%;
    transform: translate(-70%, -50%);
  }


